Repository containers/image_build: changes, and which Cirrus tasks are due for each by the changed paths.
All: Test build-push scripts function, Test build AIO image

Path conditions:
  Test build-push scripts function: any of: .cirrus.yml, build-push/**/*
  Test build AIO image: any of: .cirrus.yml, ci/aio_build_push.sh, ci/tag_version.sh, aio/**/*

Fix not skipping builds
  .cirrus.yml
Due: Test build-push scripts function, Test build AIO image

Add private registry skopeo example
  skopeo/README.md
Due: none

Fix cron task skipping builds
  .cirrus.yml
Due: Test build-push scripts function, Test build AIO image

Minor: Give AIO cron build task a name
  .cirrus.yml
Due: Test build-push scripts function, Test build AIO image

Minor: Fix AIO image expiration
  ci/aio_build_push.sh
Due: Test build AIO image

Fix build-skip logic
  .cirrus.yml
Due: Test build-push scripts function, Test build AIO image

Capture test-images as CI artifacts
  .cirrus.yml
Due: Test build-push scripts function, Test build AIO image

Podman: Add uCPP package via new build-arg
  podman/Containerfile
Due: none

Make buildah image smaller w/ ucpp vs cpp
  buildah/Containerfile
Due: none

Add CI/Automation docs
  README.md
Due: none

adding jq for podman manifest parsing
  podman/Containerfile
Due: none

Add vfs/chroot build test to aio container
  aio/test.sh
Due: Test build AIO image

Run the AIO tests against official images
  .cirrus.yml
Due: Test build-push scripts function, Test build AIO image

Update CI images to F41
  .cirrus.yml
Due: Test build-push scripts function, Test build AIO image

Add helper scripts to run podman as podman user inside the podman container.
  podman/Containerfile
  podman/podman-rootless
  podman/run-as-podman
Due: none

Minor: #45 install awk rpm package in containerfiles
  buildah/Containerfile
  podman/Containerfile
Due: none

Description about helper scripts in the README.
  podman/README.md
Due: none

Increase consistency among the Containerfiles
  aio/Containerfile
  buildah/Containerfile
  podman/Containerfile
  skopeo/Containerfile
Due: Test build AIO image
